* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

.barratopo {
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 69px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.barratopo > img {
    height: 40px;
}

.paginteira {
    padding-top: 140px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secondform,
.firstform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    background-color: #FFFFFF;
    margin: 27px 0 85px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.secondform {
    margin: 27px 0;
}

h1 {
    font-weight: 700;
    font-size: 23px;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    margin: 27px 0 12px 12px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    position: relative;
}

input {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 19px;
    margin: 5px;
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 0 0 0 15px;
}

::placeholder {
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
    color: #BABABA;
}

.pular {
    height: 27px;
}

ion-icon {
    color: black;
    font-size: 26px;
    position: absolute;
    top: 3px;
    right: 19px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EC362D;
    color: #FFF5F4;
    border: none;
    border-radius: 15px;
    font-size: 21px;
    font-weight: 400;
    padding: 15px 40px;
}

button:hover {
    cursor: pointer;
}

.minimizado *{
    display: none;
}

.minimizado :nth-child(1), 
.minimizado :nth-child(2) {
    display: flex;
    margin: 9px 0 9px 7px;
}

ion-icon {
    display: none;
}

p {
    color: #EC362D;
    margin-left: 9px;
}

.invalida {
    background-color: #FFE9E9;
}

.gohome {
    font-size: 21px;
    font-weight: 400;
    color: #818181;
    margin-top: 25px;
}

.gohome:hover {
    cursor: pointer;
}

.formatquizzsuccess {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 95%;
    position: relative;
    margin: 45px 0;
}

.formatquizzsuccess img {
    height: 266px;
    max-width: 100%;
    border-radius: 5px;
}

.degrade {
    border-radius: 5px;
    height: 266px;
    width: 100%;
    position: relative;
}

.degrade::after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
}

.degrade:hover {
    cursor: pointer;
}

.titulonaimagem {
    font-size: 23px;
    font-weight: 400;
    color: #FFFFFF;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
}

@media only screen and (max-width: 1100px) {

.paginteira {
    padding-top: 106px;
}

h1 {
    font-size: 20px;
}

.secondform,
.firstform {
    width: 100%;
    padding: 5px;
    margin-bottom: 29px;
}

input {
    width: 100%;
    object-fit: contain;
}

form {
    width: 97%;
}

button {
    font-size: 18px;
    width:85%;
    padding: 20px 0px;
}

.gohome {
    font-size: 18px;
}

}